@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

body h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

body p {
  font-size: 2rem;
}

.search-container {
  padding: 1.6rem;
}

footer {
  background-color: #335f47;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

footer .footerIcons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

footer .footerLinks {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer .footerLinks ul {
  list-style-type: none;
}

footer .footerLinks ul a,
footer .footerLinks ul li {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 0.3em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
}

header .header_box {
  align-self: center;
  padding: 2rem;
  margin-bottom: 10rem;
  background-color: #fff;
  opacity: 0.9;
  max-width: 50rem;
  text-align: center;
}

.navbar {
  background-color: #274936;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
  /* Dropdown Button */
}

.navbar .logo {
  height: 7rem;
  margin: 1rem;
}

.navbar .dropbtn {
  background-color: #274936;
  opacity: 0.9;
  color: #fff;
  padding: 1.6rem;
  font-size: 1.8rem;
  border: none;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #274936;
  min-width: 16rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.navbar .dropdown-content ul {
  list-style-type: none;
}

.navbar .dropdown-content a {
  font-size: 1.6rem;
  color: #fff;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-content a:hover {
  background-color: #335f47;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown:hover .dropbtn {
  background-color: #335f47;
}
