* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  height: 100vh;
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: center;
}

header .header_box {
  background-color: #fff;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}

.menu {
  background-color: #335f47;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  opacity: 0.7;
}

.menu button {
  background: none;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  width: auto;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.menu button:active,
.menu .home:active {
  background-color: #274936;
}

.menu button:focus,
.menu .home:focus {
  background-color: #274936;
}

.menuItem {
  position: relative;
}

.menuItem ul {
  position: absolute;
  background: #274936;
  margin-top: 1rem;
  width: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.menuItem a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem;
}

.menuItem li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuItem li:hover {
  background-color: #57a179;
}

.menuItem button:focus + ul {
  opacity: 1;
  pointer-events: all;
}
