@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

body h1 {
  color: #274936;
  text-transform: uppercase;
  font-size: 3rem;
}

body h2 {
  color: #274936;
  text-transform: uppercase;
  font-size: 2.5rem;
}

body p {
  font-size: 1.6rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-top-small {
  margin: 1.5rem 0;
}

.u-center-text {
  text-align: center;
}

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #335f47;
  border-bottom: 1px solid #335f47;
  padding: 3px;
  transition: all 0.4s;
  display: inline-block;
}

.btn-text:hover {
  background-color: #335f47;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.search-container {
  padding: 1.6rem;
}

footer {
  background-color: #335f47;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

footer .footerIcons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

footer .footerLinks {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer .footerLinks ul {
  list-style-type: none;
}

footer .footerLinks ul a,
footer .footerLinks ul li {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 0.3em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
}

header .header_box {
  align-self: center;
  padding: 2rem;
  margin-bottom: 10rem;
  background-color: #fff;
  opacity: 0.9;
  max-width: 50rem;
  text-align: center;
}

.navbar {
  background-color: #274936;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
  /* Dropdown Button */
}

.navbar .logo {
  height: 7rem;
  margin: 1rem;
}

.navbar .dropbtn {
  background-color: #274936;
  opacity: 0.9;
  color: #fff;
  padding: 1.6rem;
  font-size: 1.8rem;
  border: none;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #274936;
  min-width: 16rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.navbar .dropdown-content ul {
  list-style-type: none;
}

.navbar .dropdown-content a {
  font-size: 1.6rem;
  color: #fff;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-content a:hover {
  background-color: #335f47;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown:hover .dropbtn {
  background-color: #335f47;
}

.about-us {
  padding: 5rem 0;
  background-color: #f8f8f8;
}

.news {
  padding: 5rem 0;
}

.news .container {
  display: flex;
  flex-direction: row;
}

.news .news_article {
  width: 33.3333%;
}

.news .news_article p {
  background-color: #fff;
  font-size: 1.6rem;
  opacity: 0.9;
}

.news .news_article .date {
  width: 10rem;
  padding: 0.5rem;
  margin: 1rem;
}

.news .news_article .news_text {
  width: 70%;
  margin: 6rem 1rem 2rem 1rem;
  padding: 1rem;
}

.news #n1 {
  background-image: url(../img/fasad.png);
}

.news #n2 {
  background-image: url(../img/farg.jpg);
}

.news #n3 {
  background-image: url(../img/dans.jpg);
}

.news_link {
  text-decoration: none;
  font-size: 1.6rem;
  position: relative;
  left: 82%;
  background-color: #fff;
  opacity: 0.9;
  margin: 1rem;
}
