@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

body h1 {
  color: #274936;
  text-transform: uppercase;
  font-size: 3rem;
}

body h2 {
  color: #274936;
  text-transform: uppercase;
  font-size: 2.5rem;
}

body h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

body p {
  font-size: 1.6rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-top-small {
  margin: 1.5rem 0;
}

.u-center-text {
  text-align: center;
}

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #335f47;
  border-bottom: 1px solid #335f47;
  padding: 3px;
  transition: all 0.4s;
  display: inline-block;
}

.btn-text:hover {
  background-color: #335f47;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.search-container {
  padding: 1.6rem 0;
  margin-right: 5rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 10rem;
  width: 40rem;
  margin-right: -3.25rem;
}

.search__input:focus {
  outline: none;
}

.search__icon {
  font-size: 2rem;
}

footer {
  background-color: #335f47;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

footer .footerIcons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

footer .footerLinks {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer .footerLinks ul {
  list-style-type: none;
}

footer .footerLinks ul a,
footer .footerLinks ul li {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 0.3em;
}

footer i {
  font-size: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
}

header .header_box {
  align-self: center;
  padding: 2rem;
  margin-bottom: 10rem;
  background-color: #fff;
  opacity: 0.9;
  max-width: 50rem;
  text-align: center;
}

.navbar {
  background-color: #274936;
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
  /* Dropdown Button */
}

.navbar .logo {
  height: 7rem;
  margin: 1rem;
}

.navbar .dropbtn {
  background-color: #274936;
  opacity: 0.9;
  color: #fff;
  padding: 1.6rem;
  font-size: 1.8rem;
  border: none;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #274936;
  min-width: 16rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.navbar .dropdown-content ul {
  list-style-type: none;
}

.navbar .dropdown-content a {
  font-size: 1.6rem;
  color: #fff;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-content a:hover {
  background-color: #335f47;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown:hover .dropbtn {
  background-color: #335f47;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
}

.about-us {
  padding: 5rem 0;
  background-color: #f8f8f8;
}

.news {
  padding: 5rem 0;
}

.news .news_article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 220px;
}

.news .news_article p {
  background-color: #fff;
  opacity: 0.9;
}

.news .news_article .date {
  width: 10rem;
  padding: 0.5rem;
  margin: 0 1rem;
}

.news .news_article .news_text {
  width: 70%;
  padding: 1rem;
  margin: 0 1rem;
}

.news #n1 {
  background-image: url(../img/fasad.png);
}

.news #n2 {
  background-image: url(../img/farg.jpg);
}

.news #n3 {
  background-image: url(../img/dans.jpg);
}

.feature {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 5rem 0;
}

.feature__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: transform 0.4s;
}

.feature__box:hover {
  transform: translateY(-1.5rem);
}

.feature__box--icon {
  font-size: 6rem;
  margin-bottom: 2rem;
  display: inline-block;
  background-image: linear-gradient(to bottom, #57a179, #274936);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.feature img {
  display: inline-block;
  align-self: center;
  width: 10rem;
}
