// Only import scss here

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/searchbar";

@import "layout/footer";
@import "layout/header";
@import "layout/navbar";
@import "layout/flexbox";

@import "pages/home";

@import "pages/publikationer";

@import "pages/regeringsuppdrag";
@import "pages/analys";
@import "pages/jamstalldhet";
@import "pages/news";

@import "pages/lankar";
@import "pages/kontakt";
@import "pages/kalendarium";
@import "pages/om_oss";
@import "pages/internationellt";
@import "pages/terms";


