// ABOUT US SECTION

.about-us {
  padding: 5rem 0;
  background-color: $color-grey-light;
}

// NEWS SECTION

.news {
  padding: 5rem 0;

  .container {
    display: flex;
    flex-direction: row;
  }

  .news_article {
    width: 33.3333%;

    p {
      background-color: $color-white;
      font-size: $default-font-size;
      opacity: 0.9;
    }

    .date {
      width: 10rem;
      padding: 0.5rem;
      margin: 1rem;
    }

    .news_text {
      width: 70%;
      margin: 6rem 1rem 2rem 1rem;
      padding: 1rem;
    }
  }

  #n1 {
    background-image: url(../img/fasad.png);
  }
  #n2 {
    background-image: url(../img/farg.jpg);
  }
  #n3 {
    background-image: url(../img/dans.jpg);
  }
}

.news_link {
  text-decoration: none;
  font-size: $default-font-size;
  position: relative;
  left: 82%;
  background-color: $color-white;
  opacity: 0.9;
  margin: 1rem;
}
