// Put all the codes here thats inside the main in the index.html <main></main>

h2 {
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 1rem 0.5rem 2rem;
}

.news {
    width: 100%;
    min-height: 220px;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .news_article {

        width: 33.3333%;
        

        p {
            background-color: white;
            font-size: 1.6rem; 
            opacity: 0.9;
        }

        .date {
            width: 10rem;
            padding: 0.5rem;
            margin: 1rem;
        }

        .news_text {
            width: 70%;
            margin: 6rem 1rem 2rem 1rem;
            padding: 1rem;
           
            
        }

    }

    #n1 {
        background-image: url(../img/fasad.png);
    }
    #n2 {
        background-image: url(../img/farg.jpg);
    }
    #n3 {
        background-image: url(../img/dans.jpg);
    }
}

.news_link {
    color: black;
    text-decoration: none;
    font-size: $default-font-size;
    position: relative;
    left: 82%;
    background-color: white;
    opacity: 0.9;
    margin: 1rem;
    
}