// ABOUT US SECTION

.about-us {
  padding: 5rem 0;
  background-color: $color-grey-light;
}

// NEWS SECTION

.news {
  padding: 5rem 0;

  .news_article {
    flex: 1;

    p {
      background-color: $color-white;
      opacity: 0.9;
    }

    .date {
      width: 10rem;
      padding: 0.5rem;
      margin: 1rem;
    }

    .news_text {
      width: 70%;
      margin: 6rem 1rem 2rem 1rem;
      padding: 1rem;
    }
  }

  #n1 {
    background-image: url(../img/fasad.png);
  }
  #n2 {
    background-image: url(../img/farg.jpg);
  }
  #n3 {
    background-image: url(../img/dans.jpg);
  }
}

.news_link {
  text-decoration: none;
  font-size: $default-font-size;
  position: relative;
  left: 82%;
  background-color: $color-white;
  opacity: 0.9;
  margin: 1rem;
}

// FEATURE SECTION

.feature {
  background-color: $color-grey-light;
  padding: 5rem 0;

  &__box {
    flex: 1;
    margin: 0 2rem;
    background-color: rgba($color-white, 0.9);
    padding: 2rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    transition: transform 0.4s;

    &:hover {
      transform: translateY(-1.5rem);
    }
  }

  img {
    width: 10rem;
  }
}
