// ABOUT US SECTION
section {
  padding: 5rem 0;

  @include respond(1168) {
    padding: 5rem 3rem;
  }
}

.about-us {
  background-color: $color-grey-light;
}

// NEWS SECTION

.news {
  display: flex;
  .news_article {
    @include respond(980) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    max-width: 40rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 220px;

    p {
      background-color: $color-white;
      opacity: 0.9;
    }

    .date {
      width: 10rem;
      padding: 0.5rem;
      margin: 0 1rem;
    }

    .news_text {
      width: 70%;
      padding: 1rem;
      margin: 0 1rem;
    }
  }

  #n1 {
    background-image: url(../img/fasad.png);
  }
  #n2 {
    background-image: url(../img/farg.jpg);
  }
  #n3 {
    background-image: url(../img/dans.jpg);
  }
}

// FEATURE SECTION

.feature {
  display: flex;
  flex-direction: column;
  background-color: $color-grey-light;

  &__box {
    @include respond(980) {
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }

    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: rgba($color-white, 0.9);
    padding: 2rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    transition: transform 0.4s;

    &:not(:last-child) {
      margin-right: 2rem;

      @include respond(980) {
        margin-right: 0;
      }
    }

    &:hover {
      transform: translateY(-1.5rem);
    }
  }

  &__box--icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    display: inline-block;
    background-image: linear-gradient(
      to bottom,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  img {
    display: inline-block;
    align-self: center;
    width: 10rem;
  }
}
