 .publikationer{
        width:50%;
        min-height: 100px;
        background-color: red;
      }
      .publikationer-text{
        font-size: 100px;
      }
      p{
        font-size: 50px;
      }