.row {
  max-width: 114rem;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;

  @include respond(980) {
    flex-direction: column;
  }
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.terms {
  display: block;
  
  p {
    padding: 1rem 2rem;
  }
}
  .h2-terms {
     padding: 0 0 4rem 5rem;
  }
