// all codes for the footer
footer {
    background-color: $color-primary;
    max-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;

    .footerIcons {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
    }
    
    .footerLinks {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        ul {
            list-style-type: none;

            a, li {
                color: white;
                font-size: $default-font-size;
                text-decoration: none;
                margin-bottom: 0.3em;
            }
        }
    }
}   
