// all codes for the footer

.footer {
  padding: 5rem 0;
  display: flex;
  justify-content: space-around;
  font-size: $default-font-size;
  color: $color-white;
  background-color: $color-primary-dark;

  &__icons {
    img {
      display: block;
      margin-bottom: 2rem;
    }

    a {
      text-decoration: none;
    }

    i {
      font-size: 4rem;
      color: $color-white;
      margin-right: 2rem;
    }

    .icofont-facebook {
      color: #1877f2;
    }

    .icofont-instagram {
      color: #c32aa3;
    }

    .icofont-linkedin {
      color: #0a66c2;
    }
  }

  &__adress {
    li {
      list-style: none;

      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  &__links-1,
  &__links-2 {
    li {
      list-style: none;

      a {
        margin-bottom: 0.5rem;
      }
    }
  }
}
