// all codes for the footer

.footer {
  padding: 0rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: $default-font-size;
  color: $color-white;
  background-color: $color-primary-dark;

  @include respond(560) {
    flex-direction: column;
    text-align: center;
  }

  &__icons {
    flex: 2;
    text-align: center;
    margin: 5rem 0;

    @include respond(560) {
      margin: 0;
    }

    img {
      width: 28rem;
      height: 10rem;
      display: block;
      margin: 0 auto 2rem auto;
    }

    a {
      text-decoration: none;
    }

    i {
      font-size: 4rem;
      color: $color-white;
      margin-right: 2rem;
    }

    .icofont-facebook {
      color: #1877f2;
    }

    .icofont-instagram {
      color: #c32aa3;
    }

    .icofont-linkedin {
      color: #0a66c2;
    }
  }

  &__adress {
    margin: 5rem 0;
    flex: 1;

    @include respond(560) {
      margin: 3rem;
    }

    li {
      list-style: none;
      margin: 0.6rem;

      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  &__links-1,
  &__links-2 {
    margin-top: 5rem;
    flex: 1;

    @include respond(560) {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    li {
      list-style: none;

      a {
        margin-bottom: 0.8rem;
      }
    }
  }
}
