header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  .header_box {
    align-self: center;
    padding: 2rem;
    margin-bottom: 10rem;
    background-color: #fff;
    opacity: 0.9;
    max-width: 50rem;
    text-align: center;
  }
}
