header {
  height: 100vh;
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: center;

  .header_box {
    width: 50rem;
    text-align: center;
    background-color: #fff;
    padding: 1.5 rem;
    border-radius: 3 px;
  }
}
