header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  @include respond(560) {
    height: 100%;
  }

  .header_box {
    align-self: center;
    padding: 2rem;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 50rem;
    text-align: center;

    @include respond(560) {
      padding: 1rem;
      margin: 5rem 1rem;
    }
  }
}
