header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url(../img/hero.webp);
  background-size: cover;
  background-position: top;

  .logo {
    width: 28rem;
    height: 20rem;
  }

  @include respond(560) {
    height: 100%;
  }

  @include respond(980) {
    h1 {
      font-size: 2rem;
      line-height: 1;
    }

    p {
      line-height: 1.3;
    }
  }

  .header_box {
    align-self: center;
    padding: 2rem;
    margin: auto 0;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 50rem;
    text-align: center;

    @include respond(560) {
      padding: 1.5rem;
      margin: 5rem 1rem;
    }
  }
}
