// all codes for the navbar (top)

// dropdown menu
.menu {
  background-color: $color-opaque-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13rem;
  width: 100%;
  margin: auto;

  button {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 5.2rem;
    cursor: pointer;
  }

  button:active,
  .home:active {
    background-color: $color-opaque-dark;
  }

  button:focus,
  .home:focus {
    background-color: $color-opaque-dark;
  }
}

.menuItem {
  position: relative;

  ul {
    position: absolute;
    background: $color-opaque-dark;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 0.5rem;
  }

  li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  li:hover {
    background-color: $color-primary-light;
  }

  button:focus + ul {
    opacity: 0.8;
    pointer-events: all;
  }
}
