// Links

.btn-text {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: $default-font-size;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.4s;
    display: inline-block;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
    transform: translateY(0);
  }
}

.apply-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: $color-white;
  background-color: $color-primary;
  padding: 15px 20px;
  border-radius: 25px;
  transition: all 0.1s;

  &:hover {
    background-color: $color-primary-dark;
  }

  &:active {
    transform: translateY(4px);
  }
}
