// Links

.btn-text {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: $default-font-size;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.4s;
    display: inline-block;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
    transform: translateY(0);
  }
}

.btn-link {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: $default-font-size;
    color: $color-white;
    border-bottom: 1px solid $color-white;
    padding: 3px;
    transition: all 0.4s;
    display: inline-block;
  }

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
    transform: translateY(0);
  }
}

.apply-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: $color-white;
  background-color: $color-primary;
  padding: 10px 30px;
  border-radius: 25px;
  transition: all 0.1s;

  @include respond(560) {
    font-size: 1.6rem;
  }

  &:hover {
    background-color: $color-primary-dark;
  }

  &:active {
    transform: translateY(3px);
  }
}

.to-top {
  width: 10rem;
  margin: 1rem 2rem 1rem 80%;
  background-color: white;
}
