.search-container {
  display: flex;
  padding: 1.6rem 0;
  margin-right: 5rem;

  a {
    align-self: center;
  }

  img {
    border: 1px solid $color-black;
    width: 4rem;
    margin-left: 5rem;
  }
}

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: "Lato", sans-serif;
    font-size: $default-font-size;

    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 40rem;
    margin-right: -3.25rem;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    font-size: 2rem;
  }
}
