@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;

  h1 {
    color: $color-primary-dark;
    text-transform: uppercase;
    font-size: 3rem;
  }

  h2 {
    color: $color-primary-dark;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  p {
    font-size: $default-font-size;
  }
}
