// MEDIA QUERY
//____________________
//0-560
//560-980:
//980-1160:
//1160px - NORMAL SCSS:

@mixin respond($breakpoint) {
  @if $breakpoint == 560 {
    @media (max-width: 35em) {
      // 560px/16 = 35em
      @content;
    }
  }

  @if $breakpoint == 980 {
    @media (max-width: 61.25em) {
      // 980px/16 = 61.25em
      @content;
    }
  }

  @if $breakpoint == 1168 {
    @media (max-width: 73em) {
      // 1168px/16 = 73em
      @content;
    }
  }
}
