// COLORS

$color-primary: #335f47;
$color-primary-light: #57a179;
$color-primary-dark: #274936;

$color-opaque-primary: #335f47cc;
$color-opaque-dark: #274936cc;

$color-grey-dark: #333;

$color-white: #fff;

// FONT
$default-font-size: 1.6rem; // 20px in desptop view
